<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Gestionnaire historique</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./lib/bootstrap-3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="./lib/bootstrap-3.3.7/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="container-fluid" ng-controller="espaceCtrl">
            <h1>Historique</h1>

            <div class="col-lg-2">
               <ul class="nav nav-pills nav-stacked" ng-repeat="espace in espaces">
                  <li><a href="#" ng-click="afficherComptes()">{{espace.titre}}</a></li>
               </ul>
            </div>

            <div class="col-lg-10" ng-controller="compteCtrl">
               <button class="btn btn-primary">Lister les compte</button>
               <table class="table">
                  <tr>
                     <th>Id</th>
                     <th>Courriel</th>
                     <th>Mot de passe</th>
                     <th>Action</th>
                  </tr>

                  <tr>
                     <th>--- ---</th>
                     <td><input type="text" class="form-control" ng-model="compte.courriel"></td>
                     <td><input type="password" class="form-control" ng-model="compte.motPasse"></td>
                     <td><button class="btn btn-success" ng-click="ajouterCompte()">Ajouter</button>
                     <button class="btn btn-primary" ng-click="modifierCompte()">Modifier</button></td>
                  </tr>

                  <tr ng-repeat="compte in comptes">
                     <td>{{compte.id}}</td>
                     <td>{{compte.courriel}}</td>
                     <td>{{compte.motPasse}}</td>
                     <td><button class="btn btn-danger" ng-click="supprimerCompte(compte.id)">Suppression</button>
                     <button class="btn btn-warning" ng-click="chercherCompte(compte.id)">Modification</button></td>
                  </tr>
               </table>
            </div>

        </div>
         <!-- =============== Scripts =============== -->
        <script src="./lib/angular-1.6.7/angular.min.js"></script>
        <script src="scripts/myApp.mdl.js"></script>
        <script src="scripts/compte.ctrl.js"></script>
        <script src="scripts/espace.ctrl.js"></script>
    </body>
</html>
